<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small id="copyright"></small>
    </div>
</div>

<script>
    document.getElementById("copyright").innerHTML = 'Copyright &copy; Flavio Prumucena ' + new Date().getFullYear();
</script>